@import url("https://fonts.google.com/specimen/Outfit");

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: hsl(220, 15%, 55%);
    font-family: Outfit, sans-serif;
    font-size: 15px;
    display: grid;
    place-items: center;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    background: hsl(0, 0%, 100%);
    max-width: 350px;
    padding: 1.25rem;
    border-radius: 0.75rem;
    box-shadow: 0rem 1.45rem 1.55rem rgba(0, 0, 0, 0.45);
}

img {
    border-radius: 0.75rem;
}

h1 {
    font-size: 1.25rem;
    line-height: 1.275;
    margin-top: 1em;
    color: hsl(218, 44%, 22%);
}

p {
    line-height: 1.35;
    color: hsl(212, 45%, 89%);
}